@model Client.ViewModels.Account.RegisterVM

@{
    ViewData["Title"] = "Register - Supply Management";
}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <a asp-controller="Account" asp-action="Login">
                        <i class='bx bx-arrow-back'></i>
                    </a>
                    <div class="app-brand justify-content-center">
                        <span class="app-brand-text demo text-body fw-bolder">Create Account</span>
                    </div>
                    @if (TempData["Error"] != null)
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    }
                    <!-- /Logo -->
                    <form id="formAuthentication" class="mb-3" asp-action="SignUp" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="d-flex align-items-start align-items-sm-center gap-4">
                                <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
                                     alt="user-avatar"
                                     class="d-block rounded"
                                     height="100"
                                     width="100"
                                     id="uploadedAvatar" />
                                <div class="button-wrapper">
                                    <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                        <span class="d-none d-sm-block">Upload new photo</span>
                                        <i class="bx bx-upload d-block d-sm-none"></i>
                                        <input type="file"
                                               id="upload"
                                               class="account-file-input"
                                               hidden
                                               accept="image/png, image/jpeg"
                                               asp-for="Image" />
                                    </label>
                                    <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                                        <i class="bx bx-reset d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">Reset</span>
                                    </button>

                                    <p class="text-muted mb-0">Allowed JPG, jpeg or PNG.</p>
                                </div>
                            </div>
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input type="text" class="form-control" asp-for="Email" placeholder="Enter your email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text"
                                   class="form-control"
                                   asp-for="Name"
                                   placeholder="Enter your full name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="phoneNumber" class="form-label">Phone Number</label>
                            <input type="text"
                                   class="form-control"
                                   asp-for="PhoneNumber"
                                   placeholder="Enter your full name" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <label class="form-label" asp-for="Password">Password</label>
                            <div class="input-group input-group-merge">
                                <input asp-for="Password"
                                       class="form-control"
                                       placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                       aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <label class="form-label" asp-for="ConfirmPassword">Confirm Password</label>
                            <div class="input-group input-group-merge">
                                <input class="form-control"
                                       asp-for="ConfirmPassword"
                                       placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                       aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button class="btn btn-primary d-grid w-100">Sign up</button>
                    </form>
                </div>
            </div>
            <!-- Register -->
        </div>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="../assets/vendor/css/pages/page-auth.css" />
    <script src="../assets/js/pages-account-settings-account.js"></script>
}
